@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato&family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans serif';

}
body {
    padding: 20px;
}
.form-container{
    height: auto;
    width: 30%;
    border: solid 2px #C41616;
    border-radius: 5px;
    border-top: solid 10px #C41616;
}
form{
    padding: 10px;
}
.header{
    font-size: 25px;
    font-weight: bold;
}
.fields{
    padding: 20px;
}
.txt-input, select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn{
    background-color: #C41616;
    border: none;
    border-radius: 5px;
    color: white;
    width: 150px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover{
    background-color: transparent;
    border: solid 1px #C41616;
    color: #c41616;
    transition: 1s;
}
.button-set{
    padding: 10px;
}
.output-field{
    background-color: #EFEFEF;
    color: #9C9C9C;
    padding: 15px;
    font-size: 15px;

}
.data{
    font-weight: bold;
}
